* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel {
  width: 500px;
  height: 500px;
  box-shadow: 2px 2px 10px black;
  overflow: hidden;
}

.image-container {
  transition: transform 0.03s linear;
  transform: translateY(0);
}

img {
  object-fit: cover;
  height: 500px;
  width: 500px;
}
